* {
  font-family : 'Lobster',
                cursive;
  font-family : 'Sarabun',
                sans-serif;
}

body {
  margin     : 0;
  background : #010F14;
}

p {
  z-index     : 1;
  display     : flex;
  position    : absolute;
  top         : 15%;
  left        : 50%;
  height      : 18%;
  color       : #FFFFFF;
  text-align  : center;
  font-family : Sarabun;
  font-size   : min(10vw, 40px);
  font-style  : normal;
  font-weight : 800;
  transform   : translate(-50%, 0%);
}

footer {
  position      : fixed;
  bottom        : 0;
  left          : 0px;
  width         : 30%;
  height        : 10%;
  color         : white;
  border-radius : 0 50px 0 0;
  background    : #010F14;
  text-align    : center;
  font-family   : 'Sarabun',
                  sans-serif;
  font-size     : max(3vw, 18px);
  font-style    : normal;
  font-weight   : 800;
}

#intro {
  width       : 35%;
  float       : left;
  margin-top  : 3%;
  margin-left : 18%;
  color       : #FFFFFF;
  text-align  : center;
  align-items : center;
  font-family : 'Sarabun',
                sans-serif;
  font-size   : min(5vw, 56px);
  font-style  : normal;
  font-weight : 800;
}

#top {
  width : 100%;
}

#logotipo {
  height        : 1.5em;
  color         : #FFFFFF;
  border-radius : 0 0px 65px 65px;
  background    : #010F14;
  text-align    : center;
  align-items   : center;
  font-family   : Lobster;
  font-size     : max(5vw, 23px);
}

#dec1 {
  z-index  : -1;
  position : fixed;
  right    : 0;
  bottom   : 0;
}

#dec2 {
  z-index  : -1;
  position : fixed;
  bottom   : 0;
  left     : 0;
}

#btnInicio {
  display      : block;
  position     : relative;
  width        : 25%;
  float        : right;
  margin-right : 5.5em;
  list-style   : none;
}

li {
  margin-top : 10%;
}

#login {
  width : 100%;
}

#login:hover {
  animation : jello-horizontal 0.9s both;
}

#cadastro {
  width : 100%;
}

#cadastro:hover {
  animation : jello-horizontal 0.9s both;
}

#teste {
  width : 100%;
}

#teste:hover {
  animation : jello-horizontal 0.9s both;
}

#exemploSala {
  color           : white;
  text-decoration : none;
  font-family     : 'Sarabun',
                    sans-serif;
  font-size       : 54px;
  font-weight     : 800;
}

#voltarLogin {
  z-index   : 1;
  position  : fixed;
  top       : 35px;
  left      : 35px;
  width     : 50%;
  min-width : 200;
  height    : 105px;
}

#voltarLogin:hover {
  animation : jello-horizontal 0.9s both;
}

#voltar {
  z-index   : 1;
  position  : fixed;
  top       : 35px;
  left      : 35px;
  width     : 25%;
  min-width : 200;
  height    : 105px;
}

#voltar:hover {
  animation : jello-horizontal 0.9s both;
}

/* Esconde o botão de enviar no chat #habilitar com mediaquery */

#submitmsg {
  display : none;
}

#popup {
  z-index          : 1;
  display          : none;
  position         : absolute;
  top              : 50%;
  left             : 50%;
  width            : 30%;
  height           : 15%;
  border           : 15px #37595E solid;
  border-radius    : 90px;
  background-color : #071E21;
  transform        : translate(-50%, -50%);
}

.popUp {
  margin-left : 33%;
  align-items : center;
}

#avatar {
  width         : 35px;
  height        : 35px;
  border-radius : 50%;
  grid-area     : avatar;
}

#perfil-nome {
  color       : white;
  text-align  : center;
  font-family : 'Sarabun',
                sans-serif;
  font-size   : 24px;
  font-weight : 800;
  grid-area   : nome;
}

#perfil-elogio {
  color       : green;
  text-align  : center;
  font-family : 'Sarabun',
                sans-serif;
  font-size   : 20px;
  font-weight : 800;
  grid-area   : elogio;
}

#perfil-denuncia {
  color       : tomato;
  text-align  : center;
  font-family : 'Sarabun',
                sans-serif;
  font-size   : 20px;
  font-weight : 800;
  grid-area   : denunc;
}

/* campo de texto do usuário, ele escreve a mensagem aqui */

#mensagem {
  width            : 100%;
  height           : 82px;
  color            : white;
  border           : 0;
  border-radius    : 0 0 0 50px;
  background-color : #37595E;
  outline          : none;
  text-align       : right;
  font-family      : 'Sarabun',
                     sans-serif;
  font-size        : 40px;
  font-weight      : 800;
}

/* ao clicar no campo, o tamanho da fonte diminui */

#mensagem:focus {
  height    : 82px;
  color     : white;
  font-size : 30px;
}

#salas {
  overflow-x : scroll;
  overflow-y : scroll;
}

#salas::-webkit-scrollbar {
  display : none;
}

#mensagem::placeholder {
  color : white;
}

.entrada {
  z-index    : 1;
  position   : fixed;
  top        : 70%;
  right      : 0;
  bottom     : 10em;
  width      : 60%;
  border-top : #010F14 10px solid;
  text-align : right;
}

.mensagens {
  display          : block;
  position         : absolute;
  top              : 0;
  right            : 0;
  width            : 60%;
  height           : 70%;
  overflow-x       : scroll;
  background-color : #37595E;
  text-align       : right;
}

/* esconde a barra de rolagem */

.mensagens::-webkit-scrollbar {
  display : none;
}

.recebido {
  margin-left : 10px;
  padding     : 10px 0 10px 0;
  color       : black;
  text-align  : left;
  font-family : 'Sarabun',
                sans-serif;
  font-size   : 20px;
  font-weight : 800;
}

.conversaRec {
  width         : 35%;
  padding       : 15px;
  color         : white;
  border        : 6px solid #010F14;
  border-radius : 80px;
  text-align    : left;
  font-family   : 'Sarabun',
                  sans-serif;
  font-size     : 20px;
  font-weight   : 800;
}

.enviado {
  margin-left : 60%;
  padding     : 10px 0 10px 0;
}

.conversaEnv {
  margin-right  : 10px;
  padding       : 15px;
  color         : white;
  border        : 6px solid #010F14;
  border-radius : 80px;
  font-family   : 'Sarabun',
                  sans-serif;
  font-size     : 20px;
  font-weight   : 800;
}

/* background da tela inicial, que é mais clara que as outras */

.inicial {
  background : #071E21;
}

.telaLogin {
  background-image  : url("../img/Decoração.svg");
  background-repeat : no-repeat;
  background-size   : cover;
}

.entrar {
  z-index          : 1;
  position         : absolute;
  bottom           : 10%;
  left             : 50%;
  width            : 315px;
  height           : 100px;
  color            : white;
  border           : 6px solid #37595E;
  border-radius    : 90px;
  background-color : #010F14;
  text-align       : center;
  font-family      : 'Sarabun',
                     sans-serif;
  font-size        : 48px;
  font-weight      : 800;
  transform        : translate(-50%, -50%);
}

.campo-email {
  z-index          : 1;
  position         : absolute;
  top              : 50%;
  left             : 50%;
  width            : 30%;
  min-width        : 300px;
  height           : 8%;
  color            : #010F14;
  border           : 6px solid #37595E;
  border-radius    : 90px;
  background-color : white;
  text-align       : center;
  font-family      : 'Sarabun',
                     sans-serif;
  font-size        : 34px;
  font-weight      : 800;
  transform        : translate(-50%, -50%);
}

.campo-email:focus {
  outline : none;
}

.campo-senha {
  z-index       : 1;
  position      : absolute;
  top           : 60%;
  left          : 50%;
  width         : 30%;
  min-width     : 300px;
  height        : 8%;
  color         : #010F14;
  border        : 6px solid #37595E;
  border-radius : 90px;
  background    : white;
  text-align    : center;
  font-family   : 'Sarabun',
                  sans-serif;
  font-size     : 34px;
  font-weight   : 800;
  transform     : translate(-50%, -50%);
}

.campo-senha:focus {
  outline : none;
}

.mute {
  position : fixed;
  bottom   : 85px;
  left     : 85px;
}

.mute:hover {
  animation : jello-horizontal 0.9s both;
}

.cortina {
  display          : none;
  width            : 100%;
  height           : 10%;
  background-color : #071E21;
}

.wrapper {
  display    : block;
  margin     : 10% 0 0 30%;
  overflow-x : scroll;
  overflow-y : scroll;
}

.wrapper::-webkit-scrollbar {
  display : none;
}

.sala {
  z-index               : 1;
  display               : grid;
  height                : 20%;
  margin                : 0 0 0.5em 0;
  border                : 6px solid #37595E;
  border-radius         : 90px;
  background            : #010F14;
  grid-template-columns : 1fr 1fr 1fr;
  grid-template-areas   : "tema desc online";
}

.tema {
  display           : flex;
  color             : white;
  border            : 6px solid #37595E;
  border-radius     : 80px;
  text-align        : center;
  align-items       : center;
  font-family       : 'Sarabun',
                      sans-serif;
  font-size         : 54px;
  font-weight       : 800;
  justify-content   : center;
  grid-area         : tema;
  grid-auto-columns : 100%;
}

.desc {
  display         : flex;
  padding-left    : 15px;
  color           : white;
  text-align      : center;
  align-items     : center;
  font-family     : 'Sarabun',
                    sans-serif;
  font-size       : 1.25vw;
  font-weight     : 800;
  justify-content : center;
  grid-area       : desc;
}

.online {
  display         : flex;
  color           : white;
  text-align      : center;
  align-items     : center;
  font-family     : 'Sarabun',
                    sans-serif;
  font-size       : 34px;
  font-weight     : 800;
  justify-content : center;
  grid-area       : online;
}

@media
  only screen
  and (max-width : 1000px) {
  .cortina {
    z-index          : 0;
    display          : block;
    position         : fixed;
    top              : 0;
    width            : 100%;
    height           : 150px;
    background-color : #010F14;
  }
  
  .mute {
    z-index  : 1;
    position : fixed;
    top      : 49px;
    left     : 75%;
    width    : 72px;
  }
  
  .wrapper {
    margin : 200px 0 0 0;
  }
  
  .tema {
    font-size : 6vw;
  }
  
  .desc {
    font-size : min(3.5vw, 20px);
  }
  
  .online {
    font-size : 2vw;
  }
  
  #exemploSala {
    text-decoration : none;
    font-size       : 6vw;
  }
  
  #intro {
    display     : block;
    margin-left : 50%;
    transform   : translate(-50%, -0%);
  }
  
  #btnInicio {
    width       : 125;
    float       : left;
    margin-top  : 15%;
    margin-left : 50%;
    list-style  : none;
    transform   : translate(-50%, -0%);
  }
  
  li {
    margin-top : 10%;
  }
  
  #login {
    width : 100%;
  }
  
  #cadastro {
    width : 100%;
  }
  
  #teste {
    width : 100%;
  }
  
  .mensagens {
    z-index  : 0;
    display  : block;
    position : absolute;
    top      : 22%;
    right    : 0;
    width    : 100%;
    height   : 69%;
  }
  
  .enviado {
    margin-left : 40%;
    padding     : 10px 0 10px 0;
  }
  
  .entrada {
    position   : fixed;
    top        : 90%;
    bottom     : 0;
    width      : 100%;
    text-align : right;
  }
  
  .conversaEnv {
    font-size : 18px;
  }
  
  .conversaRec {
    font-size : 18px;
  }
  
  #mensagem {
    width            : 100%;
    height           : 55px;
    color            : white;
    border-radius    : 0 0 0 0;
    background-color : #37595E;
    outline          : none;
    text-align       : right;
    font-size        : 24px;
  }
  
  #popup {
    z-index          : 1;
    display          : none;
    position         : absolute;
    top              : 50%;
    left             : 50%;
    width            : 50%;
    height           : 15%;
    border           : 15px #010F14 solid;
    border-radius    : 90px;
    background-color : #071E21;
    transform        : translate(-50%, -50%);
  }
  
  .popUp {
    margin-left : 0;
    align-items : center;
  }
}

@keyframes jello-horizontal {
  0% {
    transform : scale3d(1, 1, 1);
  }
  
  30% {
    transform : scale3d(1.25, 0.75, 1);
  }
  
  40% {
    transform : scale3d(0.75, 1.25, 1);
  }
  
  50% {
    transform : scale3d(1.15, 0.85, 1);
  }
  
  65% {
    transform : scale3d(0.95, 1.05, 1);
  }
  
  75% {
    transform : scale3d(1.05, 0.95, 1);
  }
  
  100% {
    transform : scale3d(1, 1, 1);
  }
}
