* {
  font-family : 'Lobster',
                cursive;
  font-family : 'Sarabun',
                sans-serif;
}

body {
  margin     : 0;
  background : #010F14;
}

p {
  z-index     : 1;
  display     : flex;
  position    : absolute;
  top         : 100px;
  left        : 660px;
  width       : 600px;
  height      : 200px;
  color       : #FFFFFF;
  text-align  : center;
  font-family : Sarabun;
  font-size   : 54px;
  font-style  : normal;
  font-weight : 800;
  line-height : 83px;
}

footer {
  position      : fixed;
  bottom        : 0;
  left          : 0px;
  width         : 490px;
  height        : 85px;
  color         : white;
  border-radius : 0 50px 0 0;
  background    : #010F14;
  text-align    : center;
  font-family   : 'Sarabun',
                  sans-serif;
  font-size     : 54px;
  font-style    : normal;
  font-weight   : 800;
}

#intro {
  display     : block;
  position    : fixed;
  top         : 253px;
  left        : 442px;
  width       : 518px;
  height      : 621px;
  color       : #FFFFFF;
  text-align  : center;
  align-items : center;
  font-family : 'Sarabun',
                sans-serif;
  font-size   : 54px;
  font-style  : normal;
  font-weight : 800;
}

#logotipo {
  position      : static;
  height        : 1.5em;
  color         : #FFFFFF;
  border-radius : 0 0px 65px 65px;
  background    : #010F14;
  text-align    : center;
  align-items   : center;
  font-family   : Lobster;
  font-size     : 64px;
}

#dec1 {
  z-index  : -1;
  position : fixed;
  right    : 0;
  bottom   : 0;
}

#dec2 {
  z-index  : -1;
  position : fixed;
  bottom   : 0;
  left     : 0;
}

#dec3 {
  position : fixed;
  top      : 0;
  left     : 0;
}

#login {
  position : absolute;
  top      : 200px;
  left     : 1115px;
  width    : 495px;
  height   : 165px;
}

#login:hover {
  animation : jello-horizontal 0.9s both;
}

#cadastro {
  position : absolute;
  top      : 400px;
  left     : 1115px;
  width    : 495px;
  height   : 165px;
}

#cadastro:hover {
  animation : jello-horizontal 0.9s both;
}

#teste {
  position : absolute;
  top      : 600px;
  left     : 1115px;
  width    : 495.02px;
  height   : 165px;
}

#teste:hover {
  animation : jello-horizontal 0.9s both;
}

#exemploSala {
  color           : white;
  text-decoration : none;
  font-family     : 'Sarabun',
                    sans-serif;
  font-size       : 54px;
  font-weight     : 800;
}

#voltar {
  z-index  : 1;
  position : fixed;
  top      : 35px;
  left     : 35px;
  width    : 314px;
  height   : 105px;
}

#voltar:hover {
  animation : jello-horizontal 0.9s both;
}

/* Esconde o botão de enviar no chat #habilitar com mediaquery */

#submitmsg {
  display : none;
}

#popup {
  z-index          : 1;
  display          : none;
  position         : absolute;
  top              : 50%;
  left             : 50%;
  width            : 30%;
  height           : 15%;
  border           : 15px #37595E solid;
  border-radius    : 90px;
  background-color : #071E21;
  transform        : translate(-50%, -50%);
}

.popUp {
  margin-left : 33%;
  align-items : center;
}

#avatar {
  width         : 35px;
  height        : 35px;
  border-radius : 50%;
  grid-area     : avatar;
}

#perfil-nome {
  color       : white;
  text-align  : center;
  font-family : 'Sarabun',
                sans-serif;
  font-size   : 24px;
  font-weight : 800;
  grid-area   : nome;
}

#perfil-elogio {
  color       : green;
  text-align  : center;
  font-family : 'Sarabun',
                sans-serif;
  font-size   : 20px;
  font-weight : 800;
  grid-area   : elogio;
}

#perfil-denuncia {
  color       : tomato;
  text-align  : center;
  font-family : 'Sarabun',
                sans-serif;
  font-size   : 20px;
  font-weight : 800;
  grid-area   : denunc;
}

/**
 * <div id="avatar"><img src="../img/avatar.png"></div> <div
 * id="perfil-nome">Douchebag</div> <div id="perfil-elogio">Elogiar</div> <div
 * id="perfil-denuncia">Denunciar</div>
 */

/* campo de texto do usuário, ele escreve a mensagem aqui */

#mensagem {
  width            : 100%;
  height           : 82px;
  color            : white;
  border           : 0;
  border-radius    : 0 0 0 50px;
  background-color : #37595E;
  outline          : none;
  text-align       : right;
  font-family      : 'Sarabun',
                     sans-serif;
  font-size        : 40px;
  font-weight      : 800;
}

/* ao clicar no campo, o tamanho da fonte diminui */

#mensagem:focus {
  height    : 82px;
  color     : white;
  font-size : 30px;
}

#salas {
  overflow-x : scroll;
  overflow-y : scroll;
}

#salas::-webkit-scrollbar {
  display : none;
}

#mensagem::placeholder {
  color : white;
}

.entrada {
  position   : fixed;
  right      : 0;
  bottom     : 10em;
  width      : 60%;
  text-align : right;
}

.mensagens {
  display          : block;
  position         : absolute;
  top              : 0;
  right            : 0;
  width            : 60%;
  height           : 70%;
  overflow-x       : scroll;
  background-color : #37595E;
  text-align       : right;
}

/* esconde a barra de rolagem */

.mensagens::-webkit-scrollbar {
  display : none;
}

.recebido {
  margin-left : 10px;
  padding     : 10px 0 10px 0;
  color       : black;
  text-align  : left;
  font-family : 'Sarabun',
                sans-serif;
  font-size   : 20px;
  font-weight : 800;
}

.conversaRec {
  width         : 35%;
  padding       : 15px;
  color         : white;
  border        : 6px solid #010F14;
  border-radius : 80px;
  text-align    : left;
  font-family   : 'Sarabun',
                  sans-serif;
  font-size     : 20px;
  font-weight   : 800;
}

.enviado {
  margin-left : 60%;
  padding     : 10px 0 10px 0;
}

.conversaEnv {
  margin-right  : 10px;
  padding       : 15px;
  color         : white;
  border        : 6px solid #010F14;
  border-radius : 80px;
  font-family   : 'Sarabun',
                  sans-serif;
  font-size     : 20px;
  font-weight   : 800;
}

/* background da tela inicial, que é mais clara que as outras */

.inicial {
  background : #071E21;
}

.entrar {
  z-index          : 1;
  position         : absolute;
  bottom           : 200px;
  left             : 800;
  width            : 315px;
  height           : 100px;
  color            : white;
  border           : 6px solid #37595E;
  border-radius    : 90px;
  background-color : #010F14;
  text-align       : center;
  font-family      : 'Sarabun',
                     sans-serif;
  font-size        : 48px;
  font-weight      : 800;
}

.entrar:hover {
  animation : jello-horizontal 0.9s both;
}

.campo-email {
  z-index          : 1;
  position         : absolute;
  top              : 400px;
  left             : 661px;
  width            : 598px;
  height           : 75px;
  color            : #010F14;
  border           : 6px solid #37595E;
  border-radius    : 90px;
  background-color : white;
  text-align       : center;
  font-family      : 'Sarabun',
                     sans-serif;
  font-size        : 34px;
  font-weight      : 800;
}

.campo-email:focus {
  outline : none;
}

.campo-senha {
  z-index       : 1;
  position      : absolute;
  top           : 520px;
  left          : 660px;
  width         : 598px;
  height        : 75px;
  color         : #010F14;
  border        : 6px solid #37595E;
  border-radius : 90px;
  background    : white;
  text-align    : center;
  font-family   : 'Sarabun',
                  sans-serif;
  font-size     : 34px;
  font-weight   : 800;
}

.campo-senha:focus {
  outline : none;
}

.mute {
  position : fixed;
  bottom   : 85px;
  left     : 85px;
}

.mute:hover {
  animation : jello-horizontal 0.9s both;
}

.wrapper {
  display    : block;
  margin     : 10% 0 0 30%;
  overflow-x : scroll;
  overflow-y : scroll;
}

.wrapper::-webkit-scrollbar {
  display : none;
}

.sala {
  z-index               : 1;
  display               : grid;
  width                 : 1200px;
  height                : 175px;
  margin                : 0 0 40px 0;
  border                : 6px solid #37595E;
  border-radius         : 90px;
  background            : #010F14;
  grid-template-columns : 1fr 1fr 1fr;
  grid-template-areas   : "tema desc online";
}

.tema {
  display           : flex;
  width             : 450px;
  color             : white;
  border            : 6px solid #37595E;
  border-radius     : 80px;
  text-align        : center;
  align-items       : center;
  font-family       : 'Sarabun',
                      sans-serif;
  font-size         : 54px;
  font-weight       : 800;
  justify-content   : center;
  grid-area         : tema;
  grid-auto-columns : 100%;
}

.desc {
  display         : flex;
  width           : 400px;
  height          : 160px;
  padding-left    : 15px;
  color           : white;
  text-align      : center;
  align-items     : center;
  font-family     : 'Sarabun',
                    sans-serif;
  font-size       : 24px;
  font-weight     : 800;
  justify-content : center;
  grid-area       : desc;
}

.online {
  display         : flex;
  color           : white;
  text-align      : center;
  align-items     : center;
  font-family     : 'Sarabun',
                    sans-serif;
  font-size       : 34px;
  font-weight     : 800;
  justify-content : center;
  grid-area       : online;
}

@keyframes jello-horizontal {
  0% {
    transform : scale3d(1, 1, 1);
  }
  
  30% {
    transform : scale3d(1.25, 0.75, 1);
  }
  
  40% {
    transform : scale3d(0.75, 1.25, 1);
  }
  
  50% {
    transform : scale3d(1.15, 0.85, 1);
  }
  
  65% {
    transform : scale3d(0.95, 1.05, 1);
  }
  
  75% {
    transform : scale3d(1.05, 0.95, 1);
  }
  
  100% {
    transform : scale3d(1, 1, 1);
  }
}
